CONFIG_IDF_TARGET="esp32"
CONFIG_ESP_MAIN_TASK_STACK_SIZE=7168
CONFIG_LWIP_PPP_SUPPORT=y
CONFIG_LWIP_PPP_NOTIFY_PHASE_SUPPORT=y
CONFIG_LWIP_PPP_PAP_SUPPORT=y
CONFIG_LWIP_TCPIP_TASK_STACK_SIZE=4096
# CONFIG_LWIP_PPP_ENABLE_IPV6 is not set

CONFIG_SMONITOR_MODEM_MODEL_SIM7000=y
CONFIG_SMONITOR_MODEM_BOARD_LILYGO_T_SIM7000G=y
CONFIG_SMONITOR_MODEM_UART_TX_PIN=27
CONFIG_SMONITOR_MODEM_UART_RX_PIN=26
CONFIG_SMONITOR_MODEM_UART_RTS_PIN=25
CONFIG_SMONITOR_MODEM_UART_CTS_PIN=23
CONFIG_SMONITOR_MODEM_PWRKEY_PIN=4

CONFIG_SMONITOR_MODEM_APN=""
CONFIG_SMONITOR_MODEM_USERNAME=""
CONFIG_SMONITOR_MODEM_PASSWORD=""
CONFIG_SMONITOR_MODEM_AUTH_NONE=y
CONFIG_SMONITOR_MODEM_NETWORK_NB_IOT=y
CONFIG_SMONITOR_MODEM_LTE_BAND=20
CONFIG_SMONITOR_DEVICE_TOKEN=""
CONFIG_SMONITOR_SAMPLE_INTERVAL_MS=5000
CONFIG_SMONITOR_BATTERY_ADC_GPIO=35
CONFIG_SMONITOR_BATTERY_DIVIDER_RATIO_MILLI=2000
CONFIG_SMONITOR_BATTERY_ADC_SAMPLE_COUNT=16
CONFIG_SMONITOR_BATTERY_READ_INTERVAL_SECONDS=300
CONFIG_SMONITOR_MODEM_CONNECT_TIMEOUT_MS=180000

CONFIG_SMONITOR_I2C_SENSOR_BME280=y
CONFIG_SMONITOR_I2C_PORT=0
CONFIG_SMONITOR_I2C_SDA_PIN=21
CONFIG_SMONITOR_I2C_SCL_PIN=22
CONFIG_SMONITOR_I2C_FREQUENCY_HZ=100000
CONFIG_SMONITOR_I2C_INTERNAL_PULLUPS=y
CONFIG_SMONITOR_I2C_DEVICE_ADDRESS=0x76
