# Copy this file to sdkconfig.defaults.local and fill in local values.
# sdkconfig.defaults.local is ignored by Git.

CONFIG_SMONITOR_MODEM_APN=""

# Select board
CONFIG_SMONITOR_BOARD_LILYGO_T_SIM7000G=y

# Select I2C sensor
CONFIG_SMONITOR_I2C_SENSOR_BME280=y

# Mobile network technology
CONFIG_SMONITOR_MODEM_NETWORK_NB_IOT=y
# CONFIG_SMONITOR_MODEM_NETWORK_LTE_M=y
# CONFIG_SMONITOR_MODEM_NETWORK_GPRS=y
# CONFIG_SMONITOR_MODEM_NETWORK_AUTO=y

# LPWA band used by NB-IoT/LTE-M
CONFIG_SMONITOR_MODEM_LPWA_BAND=20

# LPWA mode:
# CONFIG_SMONITOR_MODEM_LPWA_MODE_PSM_ENABLE=y
# CONFIG_SMONITOR_MODEM_LPWA_MODE_EDRX_ENABLE=y
